
.Header{
    height: 85px;
    width: 100%;
    background-color: white;
}
.Image{
    width: 205.875px;
    height: 48px;
    margin-top: 15px;
    padding: 0px 16px;
}


@media (max-width:600px){
    .Header{
      background-color: white;
      height: 85px;
    width: 100%;
    }
    .Image{
        width: 205.875px;;
        height:  48px;
        margin-top: 15px;
        padding: 0px 16px;
    }
}